<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPLOAD</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css9.css') }}">
</head>
<body>
<pre>
<form action="/auploaded" method="POST">
    Enter the container name                  <input type="text" name="container"><br>

    Enter the path of the file  to be uploaded<input type="text" name="dfile"><br>

    <input type="submit" id="b" name="submit">

</form></pre>

</body>
</html>