<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EXTERNAL OPERATION</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css9.css') }}">
</head>
<body>
<pre>

<button class="button1" onclick="window.location.href='/acreate'">CONTAINER CREATION</button>

<button class="button1"  onclick="window.location.href='/alisted'">LIST CONTAINER</button>

<button class="button1" onclick="window.location.href='/adelete'">DELETE A CONTAINER</button>
</pre>
</body>
