<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css9.css') }}">
</head>
<body>
<center>
    <button class="button1 button5" onclick="window.location.href='/amazon'"><b>Amazon cloud</b></button><br>
    <button class="button1 button5" onclick="window.location.href='/gcloud'"><b>Google cloud</b></button><br>
    <button class="button1 button5" onclick="window.location.href='/azure'"><b>Microsoft Azure</b></button><br>


</center>
</body>
</html>
